<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>jobServlet</servlet-name>
    <servlet-class>gwtEntity.server.JobServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>buildServlet</servlet-name>
    <servlet-class>gwtEntity.server.BuildServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jenkinsServlet</servlet-name>
    <servlet-class>gwtEntity.server.JenkinsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>parameterizedBuildServlet</servlet-name>
    <servlet-class>gwtEntity.server.ParameterizedBuildServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jobServlet</servlet-name>
    <url-pattern>/module/jobservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buildServlet</servlet-name>
    <url-pattern>/module/buildservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jenkinsServlet</servlet-name>
    <url-pattern>/module/jenkinsservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>parameterizedBuildServlet</servlet-name>
    <url-pattern>/module/parambuildservice</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>module.html</welcome-file>
  </welcome-file-list>

</web-app>
